%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    
  %li.active Web Service

.page-header.text-muted
  %h1 Web Service
  %p The web service extension has no settings.
